:root {
  --color-transparent: hsl(0, 0%, 0%, 0%);
  --color-white: hsl(0, 0%, 100%);
  --color-gray-50: hsl(0, 0%, 98%);
  --color-gray-100: hsl(240, 5%, 96%);
  --color-gray-200: hsl(240, 6%, 90%);
  --color-gray-300: hsl(240, 5%, 84%);
  --color-gray-400: hsl(240, 5%, 65%);
  --color-gray-500: hsl(240, 4%, 46%);
  --color-gray-600: hsl(240, 5%, 34%);
  --color-gray-700: hsl(240, 5%, 26%);
  --color-gray-800: hsl(240, 4%, 16%);
  --color-gray-900: hsl(240, 6%, 10%);
  --color-black: hsl(223, 11%, 13%);
  --color-neutral-50: var(--color-gray-50);
  --color-neutral-100: var(--color-gray-100);
  --color-neutral-200: var(--color-gray-200);
  --color-neutral-300: var(--color-gray-300);
  --color-neutral-400: var(--color-gray-400);
  --color-neutral-500: var(--color-gray-500);
  --color-neutral-600: var(--color-gray-600);
  --color-neutral-700: var(--color-gray-700);
  --color-neutral-800: var(--color-gray-800);
  --color-neutral-900: var(--color-gray-900);
}
