:root {
  --color-transparent: hsl(0, 0%, 0%, 0%);
  --color-white: hsl(0, 0%, 100%);
  --color-gray-50: hsl(0, 0%, 98%);
  --color-gray-100: hsl(240, 5%, 96%);
  --color-gray-200: hsl(240, 6%, 90%);
  --color-gray-300: hsl(240, 5%, 84%);
  --color-gray-400: hsl(240, 5%, 65%);
  --color-gray-500: hsl(240, 4%, 46%);
  --color-gray-600: hsl(240, 5%, 34%);
  --color-gray-700: hsl(240, 5%, 26%);
  --color-gray-800: hsl(240, 4%, 16%);
  --color-gray-900: hsl(240, 6%, 10%);
  --color-black: hsl(223, 11%, 13%);
  --color-dusk-50: hsl(264, 24%, 96%);
  --color-dusk-100: hsl(256, 63%, 92%);
  --color-dusk-200: hsl(256, 61%, 85%);
  --color-dusk-300: hsl(255, 52%, 77%);
  --color-dusk-400: hsl(255, 43%, 67%);
  --color-dusk-500: hsl(254, 33%, 55%);
  --color-dusk-600: hsl(255, 29%, 46%);
  --color-dusk-700: hsl(255, 30%, 36%);
  --color-dusk-800: hsl(255, 26%, 26%);
  --color-dusk-900: hsl(253, 20%, 18%);
  --color-neutral-50: var(--color-gray-50);
  --color-neutral-100: var(--color-gray-100);
  --color-neutral-200: var(--color-gray-200);
  --color-neutral-300: var(--color-gray-300);
  --color-neutral-400: var(--color-gray-400);
  --color-neutral-500: var(--color-gray-500);
  --color-neutral-600: var(--color-gray-600);
  --color-neutral-700: var(--color-gray-700);
  --color-neutral-800: var(--color-gray-800);
  --color-neutral-900: var(--color-gray-900);
  --color-primary-50: var(--color-dusk-50);
  --color-primary-100: var(--color-dusk-100);
  --color-primary-200: var(--color-dusk-200);
  --color-primary-300: var(--color-dusk-300);
  --color-primary-400: var(--color-dusk-400);
  --color-primary-500: var(--color-dusk-500);
  --color-primary-600: var(--color-dusk-600);
  --color-primary-700: var(--color-dusk-700);
  --color-primary-800: var(--color-dusk-800);
  --color-primary-900: var(--color-dusk-900);
}
