.logos-item-actions {
  @apply contents;
}

.logos-item-actions__container {
  @apply flex justify-end col-start-2 col-end-3 row-start-2 row-end-3 gap-3 px-1;
}

.doc:not(.doc_touch) .logos-item-actions__container {
  @apply invisible opacity-0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.doc:not(.doc_touch) .logos-item:hover .logos-item-actions__container,
.doc:not(.doc_touch) .logos-item:focus-within .logos-item-actions__container {
  @apply visible opacity-100;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.logos-item-actions__action {
  @apply z-10 px-1 py-1 text-sm text-gray-400 duration-300 bg-gray-200 rounded-md hover:text-gray-900 focus:text-gray-900;
}

.logos-item_many .logos-item-actions__action:nth-child(2) {
  @apply mr-auto;
}

.logos-item-actions__icon {
  @apply w-5 h-5;
}

.logos-item-actions__output {
  @apply z-20 flex items-center justify-center invisible col-start-1 col-end-3 row-start-1 row-end-3 -m-3 bg-gray-800 rounded-md opacity-0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.logos-item-actions__output_show {
  @apply visible opacity-100;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.logos-item-actions__msg {
  @apply text-white;
}
