@keyframes slide-container {
  from {
    max-width: 2rem;
  }

  to {
    max-width: 5rem;
  }
}

.layout-header {
  @apply flex justify-between px-6 py-4;
  grid-area: header;
}

.layout-header__side:first-of-type {
  @apply flex gap-x-4;
}

.layout-header__side:last-of-type {
  @apply flex gap-x-1;
}

.layout-header__logo {
  @apply w-8 h-8;
}

.layout-header__filter {
  @apply contents;
}

.layout-header__filter_counter-display {
  @apply relative flex items-center overflow-hidden;
}

.layout-header__filter_counter-display::before {
  @apply absolute inset-0 rounded-lg bg-neutral-50;
  content: '';
}

.layout-header__filter_counter-in {
  animation: slide-container var(--state-animation-ms) forwards;
}

.layout-header__filter_counter-out {
  animation: slide-container var(--state-animation-ms) forwards reverse;
}

.layout-header__button {
  @apply p-1.5 rounded-lg;
}

.layout-header__filter_counter-display .layout-header__button,
.layout-header__counter {
  @apply z-10;
}

.layout-header__counter {
  @apply text-sm text-center text-neutral-400;
  min-width: 1rem;
}

.layout-header__filter_counter-in::before,
.layout-header__filter_counter-in .layout-header__button:last-of-type,
.layout-header__filter_counter-in .layout-header__counter {
  animation: fade-0-100 var(--state-animation-ms) forwards;
}

.layout-header__filter_counter-out::before,
.layout-header__filter_counter-out .layout-header__button:last-of-type,
.layout-header__filter_counter-out .layout-header__counter {
  animation: fade-0-100 var(--state-animation-ms) forwards reverse;
}

.layout-header__icon {
  @apply w-5 h-5 duration-100 text-neutral-400;
}

.layout-header__button:hover .layout-header__icon,
.layout-header__button:focus .layout-header__icon {
  @apply text-black;
}

.layout-header__container {
  @apply relative flex;
}
