.notification {
  @apply absolute z-20 grid overflow-hidden border-2 rounded-lg shadow-md border-neutral-50;
}

.notification::before,
.notification__content {
  @apply col-start-1 col-end-2 row-start-1 row-end-2;
}

.notification::before {
  backdrop-filter: blur(4px);
  content: '';
}

.notification_top-right {
  @apply top-4 right-6;
}

.notification_top-right.notification_enter {
  animation: slide-from-right var(--duration-300) forwards;
}

.notification_top-right.notification_exit {
  animation: slide-from-right var(--duration-300) forwards reverse;
}

.notification__content {
  @apply z-10 flex px-4 py-3;
}

.notification__icon {
  @apply w-5 h-5 mr-3;
}

.notification__icon_negative {
  @apply text-negative-500;
}

.notification__icon_positive {
  @apply text-positive-500;
}

.notification__description {
  @apply text-sm;
}
