.logos-item {
  @apply relative grid h-full p-3 duration-300 bg-gray-100 rounded-md gap-x-2 gap-y-3;

  grid-template: 1fr min-content / min-content 1fr;
}

.logos-item:hover,
.logos-item:focus-within {
  box-shadow: 0 0 0 2px rgba(228, 228, 231, var(--tw-bg-opacity));
}

.logos-item::before {
  @apply absolute inset-0 z-20 flex items-center justify-center invisible text-white bg-gray-800 rounded-md opacity-0;

  transition: visibility 0s linear 300ms, opacity 300ms;
}

.logos-item:not([data-msg])::before {
  content: '';
}

.logos-item_complete::before {
  @apply visible opacity-100;

  content: attr(data-msg);
  transition: visibility 0s linear 0s, opacity 300ms;
}

.logos-item__container {
  @apply flex items-center justify-center row-start-1 row-end-3 p-4 bg-white rounded-md;
}

.logos-output__list_sm .logos-item__container > svg {
  @apply w-8 h-8;
}

.logos-output__list_base .logos-item__container > svg {
  @apply w-14 h-14;
}

.logos-output__list_lg .logos-item__container > svg {
  @apply w-20 h-20;
}

.logos-item__meta {
  @apply col-start-2 px-1 overflow-hidden;
}

.logos-item__src {
  @apply font-medium leading-5;
}

.logos-item__src::before {
  @apply absolute inset-0;

  content: '';
}

.logos-item__category {
  @apply text-sm text-gray-400;
}

.logos-item__actions-container {
  @apply flex justify-end col-start-2 gap-3 px-1;
}

.doc:not(.doc_touch) .logos-item__actions-container {
  @apply invisible opacity-0;

  transition: visibility 0s linear 300ms, opacity 300ms;
}

.doc:not(.doc_touch) .logos-item:hover .logos-item__actions-container,
.doc:not(.doc_touch) .logos-item:focus-within .logos-item__actions-container {
  @apply visible opacity-100;

  transition: visibility 0s linear 0s, opacity 300ms;
}

.logos-item__actions-item {
  @apply z-10 px-1 py-1 text-sm text-gray-400 duration-300 bg-gray-200 rounded-md hover:text-black focus:text-black;
}

.logos-item__actions-icon {
  @apply w-5 h-5;
}
