.logos-item {
  @apply relative flex h-full;
}

.logos-item_many::before {
  @apply absolute duration-300 bg-gray-200 rounded-md bottom-2 -top-2 inset-x-2;

  content: '';
}

.logos-item:hover.logos-item_many::before,
.logos-item:focus-within.logos-item_many::before {
  @apply bg-gray-300;
}

.logos-item__inner {
  @apply z-10 grid w-full p-3 duration-300 bg-gray-100 rounded-md gap-x-2 gap-y-3;

  grid-template: 1fr min-content / min-content 1fr;
}

.logos-item:hover .logos-item__inner,
.logos-item:focus-within .logos-item__inner {
  box-shadow: 0 0 0 2px rgba(228, 228, 231, var(--tw-bg-opacity));
}

.logos-item__container {
  @apply flex items-center justify-center col-start-1 col-end-2 row-start-1 row-end-3 p-4 bg-white rounded-md;
}

.logos-output__list_sm .logos-item__container > svg {
  @apply w-8 h-8;
}

.logos-output__list_base .logos-item__container > svg {
  @apply w-14 h-14;
}

.logos-output__list_lg .logos-item__container > svg {
  @apply w-20 h-20;
}

.logos-item__meta {
  @apply col-start-2 col-end-3 row-start-1 row-end-2 px-1 overflow-hidden;
}

.logos-item__src {
  @apply font-medium leading-5;
}

.logos-item__src::before {
  @apply absolute inset-0;

  content: '';
}

.logos-item__category {
  @apply text-sm text-gray-400;
}
