.layout-main {
  @apply grid px-6 overflow-hidden gap-x-6;
  grid-area: main;
}

.layout-main_filter_active-enter,
.layout-main_filter_done-enter,
.layout-main_filter_active-exit {
  grid-template-columns: min-content 1fr;
}

.layout-main__container {
  @apply grid w-full col-start-1 col-end-2 row-start-1 row-end-2 overflow-y-scroll rounded-lg;
  background-image: url('src/assets/images/pattern.svg');
}

.layout-main_filter_active-enter .layout-main__container,
.layout-main_filter_done-enter .layout-main__container,
.layout-main_filter_active-exit .layout-main__container {
  @apply col-start-2 col-end-3;
}

.layout-main__container_scroll-up::before,
.layout-main__container_scroll-down::after,
.layout-main__content {
  @apply col-span-full row-span-full;
}

.layout-main__container_scroll-up::before,
.layout-main__container_scroll-down::after {
  @apply z-10 h-6 pointer-events-none opacity-5 from-neutral-400;
  content: '';
}

.layout-main__container_scroll-up::before {
  @apply rounded-t-lg bg-gradient-to-b;
}

.layout-main__container_scroll-down::after {
  @apply self-end rounded-b-lg bg-gradient-to-t;
}

.layout-main__content {
  @apply px-4 py-4 overflow-scroll;
}
