@keyframes fade-0-30 {
  from {
    @apply opacity-0;
  }

  to {
    @apply opacity-30;
  }
}

@keyframes fade-0-100 {
  from {
    @apply opacity-0;
  }

  to {
    @apply opacity-100;
  }
}

@keyframes slide-from-right-100 {
  from {
    margin-right: -100%;
  }

  to {
    @apply mr-0;
  }
}

@keyframes slide-from-left-60 {
  from {
    @apply -ml-60;
  }

  to {
    @apply ml-0;
  }
}

@keyframes slide-from-2-to-5 {
  from {
    max-width: 2rem;
  }

  to {
    max-width: 5rem;
  }
}

:root {
  --duration-100: 100ms;
  --duration-300: 300ms;
}
