.layout-header {
  @apply flex justify-between px-6 py-4;
  grid-area: header;
}

.layout-header__side:first-of-type {
  @apply flex gap-x-4;
}

.layout-header__side:last-of-type {
  @apply flex gap-x-1;
}

.layout-header__logo {
  @apply w-8 h-8;
}

.layout-header__filter {
  @apply contents;
}

.layout-header__filter_counter_active-enter,
.layout-header__filter_counter_done-enter,
.layout-header__filter_counter_active-exit {
  @apply relative flex items-center overflow-hidden;
}

.layout-header__filter_counter_active-enter::before,
.layout-header__filter_counter_done-enter::before,
.layout-header__filter_counter_active-exit::before {
  @apply absolute inset-0 rounded-lg bg-neutral-50;
  content: '';
}

.layout-header__filter_counter_enter {
  animation: slide-from-2-to-5 var(--duration-300) forwards;
}

.layout-header__filter_counter_exit {
  animation: slide-from-2-to-5 var(--duration-300) forwards reverse;
}

.layout-header__button {
  @apply p-1.5 rounded-lg;
}

.layout-header__filter_counter_active-enter .layout-header__button,
.layout-header__filter_counter_done-enter .layout-header__button,
.layout-header__filter_counter_active-exit .layout-header__button,
.layout-header__counter {
  @apply z-10;
}

.layout-header__counter {
  @apply text-sm text-center text-neutral-400;
  min-width: 1rem;
}

.layout-header__filter_counter_active-enter::before,
.layout-header__filter_counter_active-enter .layout-header__button:last-of-type,
.layout-header__filter_counter_active-enter .layout-header__counter {
  animation: fade-0-100 var(--duration-300) forwards;
}

.layout-header__filter_counter_active-exit::before,
.layout-header__filter_counter_active-exit .layout-header__button:last-of-type,
.layout-header__filter_counter_active-exit .layout-header__counter {
  animation: fade-0-100 var(--duration-300) forwards reverse;
}

.layout-header__icon {
  @apply w-5 h-5 duration-100 text-neutral-400;
}

.layout-header__button:hover .layout-header__icon,
.layout-header__button:focus .layout-header__icon {
  @apply text-black;
}

.layout-header__container {
  @apply relative flex;
}
