.modal {
  @apply fixed inset-0 z-40 flex items-start justify-center pt-16 pb-20 overflow-x-hidden overflow-y-scroll duration-300 bg-gray-800 bg-opacity-50;

  transition: all 0.3s;
  animation: fade-in 0.3s forwards;
}

.modal_reverse {
  animation: fade-out 0.3s forwards;
}

.modal__container {
  @apply grid w-full gap-6 px-6 py-5 rounded-md bg-gray-50 filter shadow-md;

  grid-template-columns: 1fr min-content;
  max-width: 440px;
  transition: all 0.3s;
  animation: slide-up-in-6 0.3s forwards;
}

.modal_reverse .modal__container {
  animation: slide-up-out-6 0.3s forwards;
}

.modal__heading {
  @apply text-2xl font-semibold;
}

.modal__description {
  @apply sr-only;
}

.modal__content {
  @apply col-span-2;
}

.modal__content p:not(:last-child) {
  @apply mb-3;
}

.modal__content a {
  @apply underline hover:no-underline focus:no-underline hover:text-gray-500 focus:text-gray-500;
}

.modal__content b {
  @apply font-semibold;
}

.modal__toggle {
  @apply flex self-center col-start-2 row-start-1 rounded-md;
}

.modal__icon {
  @apply w-6 h-6 text-gray-400 duration-300;
}

.modal__toggle:hover .modal__icon,
.modal__toggle:focus .modal__icon {
  @apply text-gray-900;
}
