.bag-root {
  @apply absolute inset-0 z-10 grid;
}

.bag-root::before {
  @apply col-span-full row-span-full bg-neutral-600 opacity-30;
  content: '';
}

.bag-root_enter::before {
  animation: fade-0-30 var(--duration-300) forwards;
}

.bag-root_exit::before {
  animation: fade-0-30 var(--duration-300) forwards reverse;
}

.bag-root__inner {
  @apply z-10 flex flex-col px-6 py-4 ml-auto overflow-x-hidden bg-white border-l-2 shadow-sm col-span-full row-span-full border-neutral-50 gap-y-4;
  width: 36rem;
}

.bag-root_enter .bag-root__inner {
  animation: slide-from-right-100 var(--duration-300) forwards;
}

.bag-root_exit .bag-root__inner {
  animation: slide-from-right-100 var(--duration-300) forwards reverse;
}
