:root {
  --color-transparent: hsl(0, 0%, 0%, 0%);
  --color-white: hsl(0, 0%, 100%);
  --color-white-a70: hsl(0, 0%, 100%, 70%);
  --color-black: hsl(223, 11%, 13%);
  --color-dusk-50: hsl(264, 24%, 96%);
  --color-dusk-100: hsl(256, 63%, 92%);
  --color-dusk-200: hsl(256, 61%, 85%);
  --color-dusk-300: hsl(255, 52%, 77%);
  --color-dusk-400: hsl(255, 43%, 67%);
  --color-dusk-500: hsl(254, 33%, 55%);
  --color-dusk-600: hsl(255, 29%, 46%);
  --color-dusk-700: hsl(255, 30%, 36%);
  --color-dusk-800: hsl(255, 26%, 26%);
  --color-dusk-900: hsl(253, 20%, 18%);
  --color-gray-50: hsl(0, 0%, 98%);
  --color-gray-100: hsl(240, 5%, 96%);
  --color-gray-200: hsl(240, 6%, 90%);
  --color-gray-300: hsl(240, 5%, 84%);
  --color-gray-400: hsl(240, 5%, 65%);
  --color-gray-500: hsl(240, 4%, 46%);
  --color-gray-600: hsl(240, 5%, 34%);
  --color-gray-700: hsl(240, 5%, 26%);
  --color-gray-800: hsl(240, 4%, 16%);
  --color-gray-900: hsl(240, 6%, 10%);
  --color-red-50: hsl(0, 50%, 96%);
  --color-red-100: hsl(0, 79%, 91%);
  --color-red-200: hsl(0, 87%, 85%);
  --color-red-300: hsl(0, 92%, 77%);
  --color-red-400: hsl(0, 89%, 64%);
  --color-red-500: hsl(0, 78%, 49%);
  --color-red-600: hsl(0, 87%, 39%);
  --color-red-700: hsl(0, 82%, 31%);
  --color-red-800: hsl(0, 67%, 24%);
  --color-red-900: hsl(0, 50%, 18%);
  --color-green-50: hsl(144, 71%, 93%);
  --color-green-100: hsl(144, 65%, 80%);
  --color-green-200: hsl(144, 57%, 67%);
  --color-green-300: hsl(144, 47%, 55%);
  --color-green-400: hsl(144, 46%, 43%);
  --color-green-500: hsl(144, 52%, 34%);
  --color-green-600: hsl(144, 53%, 27%);
  --color-green-700: hsl(144, 52%, 21%);
  --color-green-800: hsl(144, 49%, 16%);
  --color-green-900: hsl(143, 43%, 12%);
  --color-accent-50: var(--color-dusk-50);
  --color-accent-100: var(--color-dusk-100);
  --color-accent-200: var(--color-dusk-200);
  --color-accent-300: var(--color-dusk-300);
  --color-accent-400: var(--color-dusk-400);
  --color-accent-500: var(--color-dusk-500);
  --color-accent-600: var(--color-dusk-600);
  --color-accent-700: var(--color-dusk-700);
  --color-accent-800: var(--color-dusk-800);
  --color-accent-900: var(--color-dusk-900);
  --color-negative-50: var(--color-red-50);
  --color-negative-100: var(--color-red-100);
  --color-negative-200: var(--color-red-200);
  --color-negative-300: var(--color-red-300);
  --color-negative-400: var(--color-red-400);
  --color-negative-500: var(--color-red-500);
  --color-negative-600: var(--color-red-600);
  --color-negative-700: var(--color-red-700);
  --color-negative-800: var(--color-red-800);
  --color-negative-900: var(--color-red-900);
  --color-neutral-50: var(--color-gray-50);
  --color-neutral-100: var(--color-gray-100);
  --color-neutral-200: var(--color-gray-200);
  --color-neutral-300: var(--color-gray-300);
  --color-neutral-400: var(--color-gray-400);
  --color-neutral-500: var(--color-gray-500);
  --color-neutral-600: var(--color-gray-600);
  --color-neutral-700: var(--color-gray-700);
  --color-neutral-800: var(--color-gray-800);
  --color-neutral-900: var(--color-gray-900);
  --color-positive-50: var(--color-green-50);
  --color-positive-100: var(--color-green-100);
  --color-positive-200: var(--color-green-200);
  --color-positive-300: var(--color-green-300);
  --color-positive-400: var(--color-green-400);
  --color-positive-500: var(--color-green-500);
  --color-positive-600: var(--color-green-600);
  --color-positive-700: var(--color-green-700);
  --color-positive-800: var(--color-green-800);
  --color-positive-900: var(--color-green-900);
}
