@font-face {
  font-display: swap;
  font-family: 'Chillax';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Chillax-Medium.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Chillax';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Chillax-Semibold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Chillax';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Chillax-Bold.woff2') format('woff2');
}

:root {
  color: var(--color-black);
  font-family: Chillax;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
}
